# Email Configuration
EMAIL_HOST=smtp.hostinger.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=your-email@yourdomain.com
EMAIL_PASSWORD=your-password
EMAIL_FROM=noreply@naflaw.com
EMAIL_FROM_NAME=شركة ناف

# Server Configuration
PORT=3001